<!DOCTYPE html>
<html lang="">
    <head>
        <include file="Public/head"/>
    </head>
    <body>
        <include file="Public/navbar" home="主页"/>
            <div class="container">
            <div class="alert alert-warning">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <strong>default</strong> 默认主题
            </div>

                <table class="table table-hover">
                    <tbody>
                        <tr>
                            <td>用户名</td>
                            <td>{{$user.user|strtoupper}}</td>
                        </tr>
                        <tr>
                            <td>电子邮件</td>
                            <td>{{$user.mail|str_replace='jike','jikexueyuan',###|strtoupper}}</td>
                        </tr>
                        <tr>
                            <td>电子邮件php</td>
                            <td>{{:strtoupper(str_replace('jike','jikexueyuan_php',$user['mail']))}}</td>
                        </tr>
                        <tr>
                            <td>年龄</td>
                            <td>{{$user['age']-1}}</td>
                        </tr>
                        <tr>
                            <td>计算年龄</td>
                            <td>{{$birthday_year|getAge}}</td>
                        </tr>
                        <tr>
                            <td>手机号码</td>
                            <td>{{$mobile|default='没有手机号码'}}</td>
                        </tr>
                        <tr>
                            <td>项目目录</td>
                            <td>{{$Think.server.DOCUMENT_ROOT}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <include file="Public/js"/>
        </body>
    </html>